{% extends "main.html" %} {% block content %} {{ super() }}


<div id="filter-container">	Filter by tag: 
	<select onchange="getOption()"id="tag_selector">
		<option disabled selected value> Choose a tag </option>
		{% for item in config.tags %}
		{% set class = item | replace(' ','_') %}
	    {% set class = class | lower %}
		<option value="{{ class }}">{{ item }}</option>
		{% endfor %}
	</select>
	<button class="tag" id="show_all">Reset All</button>
</div>
<div id="gallery-container" class="flexbox-container">
  {% for item in config.images %}
  
  <div class="flexbox-item 
  
    {% for tag in item.tags %}
	{% set class = tag | replace(' ','_') %}
	{% set class = class | lower %}
	{{ class }} 
	{% endfor %}
  
  ">
    <div class="card">

      <a
        class="glightbox"
        href="{{ item.url }}"
        data-height="auto"
        data-width="100%"
      >
        <img
          src="{{ item.url }}"
          alt="{{ item.caption }}"
          class="card-img-top {{ item.display }}"
        />
      </a>
      <div class="card-body">
        <h2 class="card-title">{{ item.title }}</h2>
        <p class="card-text">{{ item.caption }}</p>
        <div class="tags">
          {% for tag in item.tags %}
          <span tabindex="0" data-name="{% set class = tag | replace(' ','_') %}{% set class = class | lower %}{{ class }}" class="tag"># {{ tag }}</span>
          {% endfor %}
        </div>
        <div class="copy-button-container">
          <button class="copy-button" data-link="{{ item.url }}">
            Copy image URL
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} 

{% block scripts %} 

<script>

  const showall = document.getElementById("show_all");
  showall.addEventListener("click", (event) => {
	var cards = document.getElementsByClassName("flexbox-item");
	var selectBox = document.getElementById("tag_selector");
    selectBox.selectedIndex = 0;
    for (var i = 0; i < cards.length; ++i) {
      var item = cards[i];
	  item.style.display = "block";
    }	
  });
  
  
  
  function getOption() {
        selectElement = document.getElementById("tag_selector");
        dataname = selectElement.value;
		var cards = document.getElementsByClassName("flexbox-item");
		var selection = document.getElementsByClassName(dataname);
		
		for (var i = 0; i < cards.length; ++i) {
		  var item = cards[i];
		  item.style.display = "none";
		}
		for (var i = 0; i < selection.length; ++i) {
		  var item = selection[i];
		  item.style.display = "block";
		}		
    }
  
  
  const wrapper = document.getElementById("gallery-container");

  wrapper.addEventListener("click", (event) => {
    const isSpan = event.target.nodeName === "SPAN";
    if (!isSpan) {
      return;
    }

    var dataname = event.target.getAttribute("data-name");

    var cards = document.getElementsByClassName("flexbox-item");
	var selection = document.getElementsByClassName(dataname);
    for (var i = 0; i < cards.length; ++i) {
      var item = cards[i];
	  item.style.display = "none";
    }
	for (var i = 0; i < selection.length; ++i) {
      var item = selection[i];
	  item.style.display = "block";
    }
	document.getElementById("tag_selector").value = dataname;
	const element = document.getElementById("gallery");
	element.scrollIntoView({ behavior: "smooth" });
	
});


  wrapper.addEventListener("click", (event) => {
    const isButton = event.target.nodeName === "BUTTON";
    if (!isButton) {
      return;
    }

    var datalink = event.target.getAttribute("data-link");
    navigator.clipboard.writeText(datalink);

    var copybuttons = document.getElementsByClassName("copy-button");
    for (var i = 0; i < copybuttons.length; ++i) {
      var item = copybuttons[i];
      item.innerHTML = "Copy image URL";
    }

    event.target.innerHTML = "Copied to clipboard!";
		
  });
</script>

{{ super() }}

{% endblock %}
