{% extends "main.html" %} 

{% block announce %}
  <p>This website is currently undergoing substantial updates. Some resources will be unavailable during this process.</p>
{% endblock %}

{% block content %}
<style>

.flex-container{
  display: flex;
  flex-direction: row;
}

.hero-text{
  width: 45%;
}

.hero-animation{
  width: 55%;
}

</style>
<section class="flex-container md-typeset">
    <div class="hero-text">
      <h1>Welcome to the Turing Commons</h1>
      <p>{{ config.site_description }}</p>
      <a
        href="{{ page.next_page.url | url }}"
        title="{{ page.next_page.title | e }}"
        class="md-button md-button--primary"
      >
        Get Started
      </a>
    </div>
    <div class="hero-animation">
      <video autoplay loop muted>
        <source src="assets/images/animations/hero.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
</section>
{% endblock %}
