.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

@media screen and (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
  border-radius: 10px;
}

.card-image-container {
  max-height: 200px;
  overflow: hidden;
}

.card-image {
  object-fit: contain;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1.2em;
}

.card-text {
  font-size: 0.8em;
}

.tags-container {
  display: flex;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 5px;
  justify-content: left;
  flex-wrap: wrap;
}
.card-tag {
  background-color: var(--md-primary-fg-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.6em;
  margin-right: 5px;
}

.copy-button-container {
  position: absolute;
  bottom: 20px;
  font-size: 0.8em;
  right: 20px;
}
.copy-button-container button {
  color: var(--md-primary-fg-color);
}
